.stApp {
  background-color: #20365e;
  background-size: cover;
}
.block-container {
  padding-top: 20px;
}

h1 {
  padding-bottom: 20px;
  color: #ffffff;
  font-size: 300%;
  font-weight: bold;
  /* font-family: 'WF Visual Sans Text', sans-serif;*/
}
h2 {
  color: #ffffff;
  /* font-family: 'WF Visual Sans Text', sans-serif; */
}
h3, h4, h5, h6 {
  color: #ffffff;
  font-weight: normal;
  /* font-family: 'WF Visual Sans Text', sans-serif; */
}
p {
  color: #ffffff;
  /* font-family: 'WF Visual Sans Text', sans-serif; */
}

.stTabs [data-baseweb='tab-list'] {
  /* padding-bottom: 8px; */
  background-color: #20365e;
}

.stTabs [data-baseweb="tab-list"] button [data-testid='stMarkdownContainer'] p {
  font-size: 170%;
  font-weight: normal;
}
.stTabs [data-baseweb='tab-panel'] {
  padding-top: 15px;
  /* background-color: #ffffff; */
}

/* .stTabs [aria-selected="true"] p {
} */

.stTabs [aria-selected="false"] p {
  color: #c9c9c9;
}

div[data-testid='stTickBarMax'] {
  color: #ffffff;
}
div[data-testid='stTickBarMin'] {
  color: #ffffff;
}
div[data-testid='stThumbValue'] {
  color: #ffffff;
}
div.stSlider > div[data-baseweb="slider"] > div > div > div[role="slider"] {
  background-color: #ffffff;
}

div.stSlider > div[data-baseweb="slider"] > div > div > div > div {
  color: #ffffff;
}
/* button[kind='primary'] {
} */
button[kind='secondary'] {
  color: #ffffff;
  background-color: #FF4B4B;
}
div[data-testid='stNotificationContentSuccess'] {
  color: #ffffff;
  font-weight: bold;
  font-size: 150%;
}
/* .stColumn > div {
  background-color: #EEEEEE;
  border: 1px solid #DCDCDC;
  padding: 20px 20px 20px 70px;
  padding: 5% 5% 5% 10%;
  border-radius: 10px;
} */
/* .custom-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
} */
/* div[data-testid='stHorizontalBlock'] */
/*
div[data-testid="stHorizontalBlock"] class-st-emotion-cache-ocqkz7.e1f1d6gn5 {
  background-color: #EEEEEE;
  border: 1px solid #DCDCDC;
  padding: 20px 20px 20px 70px;
  padding: 5% 5% 5% 10%;
  border-radius: 10px;
}

div.class-1wmy9hl.e1f1d6gn1 {
  background-color: #EEEEEE;
  border: 1px solid #DCDCDC;
  padding: 20px 20px 20px 70px;
  padding: 5% 5% 5% 10%;
  border-radius: 10px;
} */
div[data-testid='stMetricValue'] {
  color: #ffffff;
}
