.stApp {
  background:
        linear-gradient(150deg, #0C0A17, transparent 60%),
        linear-gradient(330deg, #442717,  #351807, #140009, transparent 80%),
        linear-gradient(50deg, #0C0A17, #2C4891, transparent 60%),
        linear-gradient(225deg, #2b0112, #2C4891, #432a1b, #2C4891);
  background-size: cover;
}
/* .stApp { background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
.block-container {
  padding-top: 20px;
}

h1 {
  padding-bottom: 20px;
  color: #ffffff;
  font-size: 300%;
  font-weight: bold;
}
h2 {
  color: #ffffff;
}
h3, h4, h5, h6 {
  color: #ffffff;
  font-weight: normal;
}
p {
  color: #ffffff;
}
.stTabs [data-baseweb="tab-list"] button [data-testid='stMarkdownContainer'] p {
  font-size: 170%;
  font-weight: normal;
}
.stTabs [data-baseweb='tab-panel'] {
  padding-top: 15px;
}
div [data-testid="stMarkdownContainer"] p {
  font-size: 16px;
}

/* .stTabs [aria-selected="true"] p {
} */

.stTabs [aria-selected="false"] p {
  color: #c9c9c9;
}
div[data-testid='stTickBarMax'] {
  color: #ffffff;
  background-color: transparent !important;
}
div[data-testid='stTickBarMin'] {
  color: #ffffff;
  background-color: transparent !important;
}

div[data-baseweb="select"] .st-cu {
  background-color: lightblue; /* Change this to your desired color */
}

ul[data-testid="stVirtualDropdown"] > div > div > li {
  background-color: #ffffff; /* Change this to your desired color */
}

ul[data-testid="stVirtualDropdown"] > div > div > li:hover {
  background-color: #7191E6; /* Change the hover color to your desired color */
  color: #ffffff;
}


/* div[data-testid='stThumbValue'] {
  color: #ffffff;
  background-color: transparent !important;
}
div.stSlider > div[data-baseweb="slider"] > div > div > div[role="slider"] {
  background-color: #ffffff;
}
div.stSlider > div[data-baseweb="slider"] > div > div > div > div {
  color: #ffffff;
}
div.stSlider > div[data-baseweb = "slider"] > div > div {
  background: #9fd3c7 }
 */


/* button[kind='secondary'] {
  color: #ffffff;
  background-color: #2C4891;
}
*/
div[data-testid='stMetricValue'] {
  color: #ffffff;
}
div[data-testid="stMetric"] {
  border-radius: 10px;
  border: 2px solid rgba(225,225,225, 0.05);
  padding: 10px;
}

.small-font {
  font-size: 12px;
}
